* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout */




/* Utility */

.txt-center {
    text-align: center;
}

.style-label {
    padding: 5px;
    border-radius: 5px;
}

.list-style-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.border-white {
    border: 1px solid white;
}






/* Style */

.bg-cadetblue {
    background-color: cadetblue;
}


.txt-white {
    color: white;
}


/* Media query */

@media screen and (min-width : 576px) {

    .content-header {
        text-align: left;
    }

    .content-main {
        text-align: start;
    }

}