* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout */




/* Utility */




/* Style */

.bg-cadetblue {
    background-color: cadetblue;
}


.txt-white {
    color: white;
}